*{
    --primary: #00600D;
    --accent: #CED500;
    --text: #0C0040;
    --background: #EEFFDD;
}

main{
    display: flex;
    flex-direction: column;
}

.homeSection{
    border: 1px solid var(--primary);
    padding-top: 0;
    min-height: 100px;
    width: auto;
    margin: 1rem;
}

.homeSection > p{
    font-size: larger;
    text-align: center;
}

.homeSection > img{
display: block;
margin: 0 auto;
}

.homeSection > h1 {
    display: block;
    background-color: var(--background);
    margin: 0;
    border-bottom: 1px solid var(--primary);
    text-align: center;
}

picture{
    width: auto;
    max-width: 1260px;
    margin: 0 auto;
}

.aBtn{
    text-decoration: none;
    color: var(--text);
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 20px;
    width: 100px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
}

picture{
    position: relative;
}


@media screen and (min-width: 32rem){
    #homeInfo{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: space-around;
    }
}
