*{
    --primary: #00600D;
    --accent: #CED500;
    --text: #0C0040;
    --background: #EEFFDD;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


main{
    display: flex;
    flex-direction: column;
    flex: 1;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 32rem;
    margin: 0 auto;
    border: 2px solid var(--primary);
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--background);
}

aside{
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section{
    border: 3px solid black;
    border-radius:10px ;
    max-width: 320px;
    text-align: center;
    padding: 1rem;
    position: relative;
}

section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
     background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 80%
 );
    animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
    from{
        transform: translate(-80%);
    }
    to{
        transform: translate(200%);
    }
}

dialog{
    max-width: 32rem;
    border-radius: 10px;
}


::backdrop{
    background-color: rgb(0, 0, 0, 50%);
}

#npo{
    background-color: green;
}

#bronze {
    background-color: #A97142;
}

#silver {
    background-color: #939393;
}

#gold {
    background-color: #D3AF37;
}

@media screen and (min-width: 38rem){
    main{
        flex-direction: row;
        justify-content: center;
    }

    form {
        margin: 1rem;

    }

    aside{
        margin: 1rem;
    }
}