header {
    font-family: 'Quicksand', sans-serif;
    font-size: x-large;
    color: navy;
    border-bottom: 2px solid navy;
    text-align: center;
}

#cards {
    padding: 0.5rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
    border: 1px solid darkblue;
    background-color: rgba(65, 105, 225, 0.514);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

h2 {
    margin: 0;
}

footer {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    margin-top: 0.5rem;
    padding: 0.5rem;
    color: navy;
    border-top: 2px solid navy;
}