:root{
    --primary: #00eaff;
    --secondary: #b400ff;
    --background: #1B1E29;
    --section: #262A38;
    --text: #e8e8e8;
    --shadow1: rgba(0, 238, 255, 0.4);
    --shadow2: rgba(180, 0, 255, 0.4);
}

body{
 background-color: var(--background);
 color: var(--text);
 font-family: "Roboto", sans-serif;
 max-width: 1600px;
 margin: 0 auto;
}

h2, h1{
    font-family: "Audiowide", sans-serif;
    color: var(--primary);
    text-shadow: 0 0 10px var(--shadow1);
}

section{
    border-radius: 25px;
    background-color: var(--section);
    border: 2px solid var(--secondary);
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 10px var(--shadow2);
}

div{
    display: flex;
    flex-direction: row;
}

div>section{
    width: 100px;
    height: 100px;
}

#text{
    background-color: var(--text);
    color: var(--background);
}

#background1{
    background-color: var(--background);
}

#background2{
    background-color: var(--section);
}

#primary{
    background-color: var(--primary);
    color: var(--background);
}

#secondary{
    background-color: var(--secondary);
    border: 2px solid var(--primary);
    box-shadow: 0 0 10px var(--shadow1);
}

strong{
    font-size: large;
}

img{
    border-radius: 15px;
    border: 2px solid var(--secondary);
    box-shadow: 0 0 10px var(--shadow2);
}
