/*Color schema will be defined in root*/
:root{
 --primary: #DE7829;
 --accent: #FFF6BE;
 --text: #835D4F;
}

*{
    max-width: 32rem;
    font-family: "quicksand", sans-serif;
    color: var(--text);
    margin: 0;
}


/*---------------------------------------*/
/*        HEADER CONFIGURATION           */
/*---------------------------------------*/

header{
    display: grid;
    grid-template-columns: 44px auto 44px;
    border-bottom: solid 2px var(--primary);
    font-size: large;
    align-items: center;
}

header span{
    margin: 0.5rem;
    font-weight: 700;
}

.navigation{
    display: none;
}

header img{
    width: 44px;
    height: 44px;
}

.hamburger{
    width: 44px;
    height: 44px;
    font-size: x-large;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger::after{
    content: "\2630";
}

/*-----------TOGGLE NAVIGATION------------*/
.navigation.show{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hamburger.show::after{
    content: "X";
}

.navigation a:hover{
    background-color: var(--primary);
    color: white;
}

.navigation .current{
    background-color: var(--primary);
    color: white;
}

.navigation a{
    display: block;
    background-color: var(--accent);
    text-decoration: none;
    width: 100%;
    color: var(--text);
    padding: 0.5rem;
}

.navigation ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li{
    display: block;
}


/*-------------------------------------*/
/*          MAIN  CONFIGURATION        */
/*-------------------------------------*/
main{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

section .content{
    background-color: var(--accent);
    color: var(--text);
    padding: 1rem;
    margin: 1rem;
}

section h2{
    background-color: var(--primary);
    color: #fff;
    margin: 1rem;
    padding: 0 1rem;
}

#myPicture .content{
    display: flex;
    justify-content: center;
}

/*---------COURSES LIST---------*/

#courses p{
    padding: 1rem;
}
#coursesBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#coursesBtn button{
    background-color: var(--primary);
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 0.5rem;
    min-width: 100px;

}

#courseList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#courseList .course{
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid var(--primary);
    border-radius: 5px;
    font-weight: 700;
}

.completed{
    background-color: #fff;
}

.completed::before{
    content: "\2713";
}


/*----------------------------------------/
/          FOOTER CONFIGURATION           /
/----------------------------------------*/
footer{
    border-top: 2px solid var(--primary);
    text-align: center;
}

.footerNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerNav a, .footerNav img{
    height: 44px;
    width: 44px;
    margin: 1rem;
    background: none;
}